body{
  font-family: 'Heebo', sans-serif;
    background-color : white;
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}

body .container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

.banner{
 width: 100%;
 height: 480px;
 margin-left: 0px;
 padding:0px;
 margin-right: 0px;
 background-image: url("../images/banner.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.row .active-product-content{
  background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
}

.navbar-light .navbar-toggler-icon{
  padding: 5px;
  background-image: none;
  color: #fff;
  font-size: 35px;
}

td:first-child { border-left: none; }

th:first-child { border-left: none; }

.card-img-top{
  background-color: #fff;
  max-height:100%; max-width:100%;
  box-shadow: 3px 3px 3px 3px #aaaa;
}

.spec_table_scroll{
  overflow : auto;
}

table{
  background-color: #f0ede6;
}

#title1{
  color:#f00;
  margin: 15px 3px;
  font-weight: 500;
  font-size: 35px;
}

@media screen and (max-width: 600px) {
  .product_navigation .card-img-top{
    display: none;
  }

  .product_navigation h4{
    display: none;
  }

  .product_navigation .active-product-content{
    margin: 0px 20%;
  }

  .product_navigation .active-product-content button{
    border-radius: 50%;
    margin: 0px 15px;
    font-size: 25px;
    size: 30px;
    position: inherit;
    width: 40px;
    left:20%;
    border: solid 1px #ddd;
    height: 40px;
  }
}

#Contact{
  margin: 20px;
  text-align: center;
}

#Contact .row{
  width:80%;
  margin: 30px 10%;
}

.contact-form button{
  margin: 0px 40%;
}

.contact-form{
  margin-top: 20px;
  text-align: left;
  margin-bottom: 20px;
}

h4{
  color: #f00;
  font-size: 20px;
  font-weight: 500;
}

.form-group{
  margin: 10px;
}

.active-product-content button{
  border-radius: 50%;
  margin: 0px 15px;
  position: relative;
  font-size: 25px;
  size: 30px;
  top:150px;
  left:50px;
  width: 40px;
  border: solid 1px #ddd;
  height: 40px;
}

.active-product-content button :focus{
  border: none;
}

td, th{
  border-left: 1px solid;
  height: 40px;
  text-align: center;
}

.active-product-content{
  height:50%;
  min-height: 50%;
}

.products{
  width:80%;
  margin:auto;
}

body .container-fluid nav{
    padding-left: 10%;
}

.navbar-nav .nav-item{
margin-left:30px;
    margin-right:30px;
}

#AboutUs{
  margin: 0px;
}

.about-us-header{
    text-align: center;
}

.navbar-nav .nav-item .nav-link, .navbar-light .navbar-nav .nav-link:focus{
    color:#fff;
  }

.navbar-nav .nav-item .nav-link:hover, .navbar-light .navbar-nav .active>.nav-link, .navbar-nav .active .nav-link{
    color:#aaa;
    opacity: 0.9;
}

* {
    box-sizing: border-box;
  }
  
  .bg-image {
    background-image: url("../images/about_us_blur.jpg");
    height: 80%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
    background-size: cover;
  }

  .product-bg-image{
    background-color: #f0ede6;
  }
  
  .bg-text {
    border-radius: 5px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 2;
    width: 80%;
    height: 60%;
    margin: 10% 10%;
    padding: 20px;
    left:10%;
   
  }

  .contact-form button{
    border: solid 1px #222;
    background-color: #fff;
    color:#222;
  }

  .contact-form button:hover{
    border: solid 1px #000;
    background-color: #aaa;
    color:#000;
  }

  .navbar-light .navbar-toggler{
  color:#fff !important;
}

.headertag{
  height:100%;
  margin-top: -90px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.tagline{
  width: 100%;
  letter-spacing: 2px;;
  font-family: 'Roboto', sans-serif;
  vertical-align: center;
  text-align: center;
    font-weight: bold;
    font-size: 35px;
   color: white; /* Fallback color */
}

.spec_table_contain{
  margin:20px 10px;
}

.product-heading{
  margin: auto;
  margin-top:20px;
  margin-bottom:20px;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
}

.product-title{
  font-family: 'Andika New Basic', sans-serif;
}

.product{
  background-image: url("../images/banner.png");
}

#footer{
  background: #f1f1f1;
  width:100%;
  padding:30px 20%;
  margin: 0px;
}

#footer h4{
  color:#000;
}